<div class="container">
    <div id="test">
        <h1 class="text-center mt-5">
            <span>Luyện thi TOEIC online 2023 có đáp án</span>
        </h1>
    </div>
    <div class="mb-5">
        <app-listening-reading></app-listening-reading>
    </div>

    <div class="row mb-5">
        <div class="col-sm-6 mb-3 mb-sm-0">
            <div class="card card-background-1">
                <div class="card-body">
                    <h5 class="card-title row-title">VOCABULARY</h5>
                    <p class="card-text row-text fw-semibold">
                        Our vocabulary practice divided into various topics and parts
                        will assist you in boosting your vocabulary range
                    </p>
                    <a href="/topic" class="nav-link" routerLink="topic" class="btn btn-primary row-text">Từ vựng</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card card-background-2">
                <div class="card-body">
                    <h5 class="card-title row-title">GRAMMAR</h5>
                    <p class="card-text row-text fw-semibold">
                        Our grammar exercises covering 30+ grammar topics will
                        definitely help you enhance your English foundation
                    </p>
                    <a href="/grammar" class="nav-link" routerLink="grammar" class="btn btn-primary row-text">Ngữ
                        Pháp</a>
                </div>
            </div>
        </div>
    </div>

</div>