.navbar {
    border-bottom: 1px solid #ccc;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #052649;
}

.navbar-logo {
    transition: all 0.3s;
}

.logo {
    width: 60px;
    border-radius: 50%;
}

.navbar .navbar-nav .nav-link {
    position: relative;
    color: #fff;
    transition: color 0.3s;
    font-weight: 500;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    color: #fff;
}

.navbar .navbar-nav .nav-link::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 3px;
    background-color: #fff;
    transition: width 0.3s;
}
.navbar .navbar-nav .nav-link:hover::after,
.navbar .navbar-nav .nav-link.active::after {
    width: 90%;
}
.navbar .navbar-nav .dropdown .dropdown-menu {
    display: none;
    position: absolute;
    top: 90%;
    left: 0;
    z-index: 1000;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin-top: 5px;
    transition: opacity 0.3s;
    opacity: 0;
}

.navbar .navbar-nav .dropdown:hover .dropdown-menu {
    display: block;
    opacity: 1;
}

.navbar .navbar-nav .dropdown .dropdown-menu .dropdown-item {
    padding: 0.5rem 1rem;
    color: #212529;
    font-size: 14px;
    line-height: 1.5;
    white-space: nowrap;
    transition: background-color 0.3s, color 0.3s;
}

.navbar .navbar-nav .dropdown .dropdown-menu .dropdown-item:hover {
    background-color: #083361;
    color: #fff;
}

.navbar .navbar-nav .dropdown:last-child .dropdown-menu .dropdown-item {
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.navbar .navbar-nav .nav-item.dropdown .dropdown-menu.dropdown-menu-custom {
    min-width: 10rem;
}

.navbar .navbar-nav .nav-item.dropdown .dropdown-menu.dropdown-menu-custom .dropdown-item {
    padding: 0.5rem 1rem;
}

.dropdown-toggle::after {
    display: none;
}

@media (max-width: 768px) {
    .logo {
        width: 80px;
    }
}