<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3>Thông Tin</h3>
                <div><span><mat-icon>home</mat-icon>Liên Hệ</span></div>
                <div><span><mat-icon>home</mat-icon> Thông Tin Vận Chuyển</span></div>
                <div><span><mat-icon>home</mat-icon> Chính Sách Riêng Tư</span></div>
                <div><span><mat-icon>home</mat-icon> Điều Khoản</span></div>
                <div><span><mat-icon>home</mat-icon> Liên Hệ</span></div>
                <div><span><mat-icon>home</mat-icon> Hoàn Trả</span></div>
            </div>

            <div class="col-md-4">
                <h3>Thông Tin Bổ Sung</h3>
                <div><span><i class="fas fa-map-marked-alt"></i> Bản Đồ</span></div>
                <div><span><i class="fas fa-user-circle"></i> Tài Khoản</span></div>
            </div>

            <div class="col-md-4">
                <h3>Liên Hệ</h3>
                <div><span><i class="fas fa-map-marker-alt"></i> Địa chỉ: Bình Tân, Vĩnh Long</span></div>
                <div><span><i class="fas fa-phone"></i> Điện thoại: 0123456789</span></div>
                <div><span><i class="fas fa-envelope"></i> Email: duc@gmail.com</span></div>
            </div>

        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <p>&copy; 2023 TOEIC. Copyright by Nguyễn Phát Đức. All rights reserved</p>
        </div>
    </div>
</footer>